.crear-cuenta{
    display: flex;
    align-items: center;
    justify-content: center;
}

#register{
    width: 35rem;
    height: auto;
    margin: 2rem;
    background-color: $secondary;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}